<div class="jumbotron" style="background: url(images/logo.png); background-size: 100% 100%;">
  <p class="text-right">
    <a class="btn btn-dark btn-sm" href="/logoff" role="button">Logout</a>
  </p>
</div>
