<div class="jumbotron" style="background: url(images/logo.png); background-size: 100% 100%;">
  <p class="text-right">
    <a id="login" class="btn btn-dark btn-sm" href="/login" role="button">Login</a>
  </p>
</div>
